/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--main-color: #da190f;
	--bg: #13131a;
	--bg-card: #0c0c14;
	--border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
  padding: 0;
  box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: 0.2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
	background: var(--bg);
}

section {
	padding: 2rem 7%;
}

.heading {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 3.5rem;
	font-size: 4rem;
}

.heading span {
	color: var(--main-color);
  text-transform: uppercase;
}

.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: 0.9rem 3rem;
	font-size: 1.7rem;
	color: #fff;
	background: var(--main-color);
	cursor: pointer;
}

.btn:hover {
 letter-spacing: 0.2rem;
}

/* HEADER */
.header {
	background: var(--bg);
	display: flex;
	align-items: center;
  justify-content: space-between;
	padding: 1.5rem 7%;
	border-bottom: var(--border);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

.header .logo img {
	height: 6.5rem;
	border-radius: 100%;
}

.header .navbar a {
	margin: 0 1rem;
	font-size: 1.6rem;
	color: #fff;
}

.header .navbar a:hover {
	color: var(--main-color);
	border-bottom: 0.1rem solid var(--main-color);
	padding-bottom: 0.5rem;
}

.header .icons {
	display: flex;
  align-items: center;
}

.header .icons div {
	margin-left: 2rem;
}

.header .icons div ion-icon {
	color: #fff;
	cursor: pointer;
	font-size: 2.5rem;
}

.header .icons div ion-icon:hover {
	color: var(--main-color);
}

#menu-btn {
	display: none;
}

/* HOME */

.home {
	position: relative;
	min-height: 85vh;
	display: flex;
	align-items: center;
	background: url(./images/home.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	border-bottom: var(--border);
  }

.home::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}
.home .content {
	max-width: 60rem;
	position: relative;
	z-index: 2;
}

.home .content h3 {
font-size: 6rem;
text-transform: uppercase;
color: #fff;
}

.home .content p {
  font-size: 2rem;
	font-weight: lighter;
	line-height:1.8;
	padding: 1rem 0;
  color: #fff;
}

/* ABOUT/SOBRE */

.about .row {
	display: flex;
  align-items: center;
	background: var(--bg-card);
	flex-wrap: wrap;
	border var(--border);
}

.about .row .image {
	flex: 1 1 45rem;
}

.about .row .image img {
	width: 100%;
}

.about .row .content {
	flex: 1 1 45rem;
	padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
	color: #fff;
}

.about .row .content p {
	font-size: 1.6rem;
  color: #ccc;
	padding: 1rem 0;
	line-height: 1.8;
}


/* MENU */

.menu .box-container	{
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
}

.menu .box-container .box {
	padding: 5rem;
	text-align: center;
	border: var(--border);
	background-color: var(--bg-card);
}

.menu .box-container .box img {
  height: 18rem;
	border-radius: 100%;
}

.menu .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
	padding: 1rem 0;
}

.menu .box-container .box .price {
	color: #fff;
	font-size: 2.5rem;
	padding: 0.5rem 0;
}


.menu .box-container .box .price span{
	font-size: 1.5rem;
	text-decoration: line-through;
	font-weight: lighter;
}

.menu .box-container .box:hover{
background-color: #fff;
}

.menu .box-container .box:hover > *{
	color: black;
	}


	/* PRODUCTS / PROMOÇÕES */

.products .box-container {
	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
	text-align: center;
	border: var(--border);
	padding: 2rem;
}

.products .box-container .box .icons a ion-icon{
  height: 3rem;
	width: 3rem;
	line-height: 3rem;
	font-size: 1.7rem;
  border: var(--border);
	color: #fff;
margin: 0.3rem;
}

.products .box-container .box .icons a ion-icon:hover{
	background: var(--main-color);}

.products .box-container .box .image{
	padding: 2.5rem 0;}

.products .box-container .box .image img{
	height: 25rem;}

.products .box-container .box .content h3{
	color: #fff;
	font-size: 2.5rem}

.products .box-container .box .content .stars{
	padding: 1.5rem;}

.products .box-container .box .content .stars i{
	font-size: 1.9rem;
	color: var(--main-color);}

.products .box-container .box .content .price {
	color: #fff;
	font-size: 2.5rem;
}

.products .box-container .box .content .price span{
	font-size: 1.5rem;
	text-transform: lowercase;
	font-weight: lighter;
}

/* REVIEW / AVALIAÇÕES */

.review .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
}

.review .box-container .box {
	border: var(--border);
	text-align: center;
	padding: 3rem 2rem;
}

.review .box-container .box p {
	font-size: 1.7rem;
	line-height: 1.8;
	color: #ccc;
	padding: 2rem 0;
}

.user {
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
	object-fit: cover;
}

.review .box-container .box h3 {
	padding: 1rem 0;
	color: #fff;
	font-size: 2.2rem;
}

.review .box-container .box .stars i {
	font-size: 1.7rem;
  color: var(--main-color);
}

/* FOOTER / RODAPÉ */

.heading-footer {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
  font-size: 2rem;
	margin-bottom: 1.5rem;
}

.heading-footer span {
	color: var(--main-color);
	text-transform: uppercase;
}

.footer {
  background-color: var(--bg);
	text-align: center;
  padding: 4rem 0;
}

.footer .container {
  display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 7%;
}

.footer-col {
	flex: 1 1 25rem;
	margin: 1rem;
}

.footer-col ul {
	list-style: none;
  padding: 0;
}

.footer-col ul li {
	margin-bottom: 1rem;
}

.footer-col ul li a {
  color: #ccc;
	text-decoration: none;
	font-size: 1.6rem;
	transition: color 0.3s;
}

.footer-col ul li a:hover {
	color: var(--main-color);
}

.footer .social-links {
	display: flex;
	gap: 1rem;
  justify-content: center;
	margin-top: 1.5rem;
}

.footer .social-links a {
	color: #ccc;
	font-size: 3rem;
	transition: color 0.3s;
}

.footer .social-links a:hover {
	color: var(--main-color);
}

.footer-bottom {
	text-align: center;
	padding: 1rem 0;
	font-size: 1.6rem;
	border-top: var(--border);
	margin-top: 2rem;
	color: #ccc;
}

/* RESPONSIVIDADE: Medias Queries
@media (conditions) {
Estilos que serão aplicados, se a condição for verdadeira
*/

@media (max-width: 991px) {
	html {
		font-size: 55%;
	}

	.header {
		padding: 1.5rem 2rem;
	}

	section {
	padding: 2rem;
	}
}

@media (max-width: 768px) {
	#menu-btn {
		display: inline-block;
	}
	.header .navbar {
		position: absolute;
		top: 100%;
		right: -100%;
		background: #fff;
		width: 30rem;
		height: calc(100vh - 9.5rem);
	}

	.header .navbar a {
		color: var(--bg-card);
		display: block;
		margin: 1.5rem;
		padding: 0.5rem;
		font-size: 2rem;
	}

	.home {
		background-position: left;
		justify-content: center;
		text-align: center;
	}

	.home .content h3	{
	font-size: 4.5rem;
	}

	.home .content p {
		font-size: 1.5rem;
	}
}

@media (max-width: 450px) {
	html {
    font-size: 50%;
  }
}





